
html {
    background: #D0E4F5 url("https://images.unsplash.com/photo-1505252585461-04db1eb84625?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2016&q=80") no-repeat scroll 0 0;}

header { padding: 0.5rem;
    width: 100%;
    color: white;
    background-color: orange;}

    body {
        padding: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    
      #fruit-list {
        display: flex;
        overflow-x: auto;
        margin: 1rem 0;
        max-width: calc(100vw - 2rem);
      }

      #fruit-list h2 {
        flex: 0 1 auto;
        height: 150px;
        margin-right: 6rem ;
        cursor: pointer;
        background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
  
      }
      
      #fruit-detail {
        position: relative;
      }

      .detail-image {
        border-radius: 22px;
        
      }

    .name {
        position: absolute;
        left: 10px;
        padding: 0.25rem 5rem 0.25rem 1rem;
        background-color: rgba(255, 255, 255, 0.4);
        bottom: 1px;
    }

    #add_btn {
      position: relative;
      right: 100px;
      top: 245px;
        background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        cursor: pointer
      }

     #remove_btn {
      position: relative;
      left: 100px;
      top: 175px;
        background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        cursor: pointer
    }

    #fruit-nutrition {
      position: relative;
      bottom: 125px;
      background:rgba(255, 255, 255, 0);
  backdrop-filter: blur(40px);
  color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
  width: 300px
}

#fruit-combo {
  position: relative;
  bottom: 100px;
  left: 700px;
      background:rgba(255, 255, 255, 0);
  backdrop-filter: blur(40px);
  color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
  width: 300px
}

    form {
        margin: 1rem 0;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      input,
textarea {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Comic Sans MS", cursive, sans-serif;
  color: rgba(237,151,4,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(103,252,247,1);
  -webkit-box-shadow: 5px 5px 8px 2px rgba(252,0,4,0.5) inset;
  box-shadow: 5px 5px 8px 2px rgba(252,0,4,0.5) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

input[type="submit"] {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
  }


  